html {
    min-height: 100%;
}
*, a, input, textarea, button, input:focus, textarea:focus {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

@media (prefers-color-scheme: dark) {
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: hsl(229, 76%, 10%);
    }
}

.wrapper {
    text-align: center;
    position: relative;
    margin: 10px 10px;
        margin-top: 10px;
    margin-top: 0px;
}

.wrapper > div {
    margin-bottom: 3px;
}

.logo {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper > div {
    margin-bottom: 3px;
}
.search_form {
    width: 100%;
    position: fixed;
    left: 50%;top: calc(50% + 75px);
    transform: translate(-50%,-50%);
}

.search_form form {
    overflow: hidden;
    max-width: 700px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

#search_container {
    background-color: #f7f7f7;
    border: 1px solid #cccdc8;
    position: relative;
    width: 90%;
    height: 60px;
    margin-left: 0px;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 5px 4px 12px 1px rgba(0, 0, 0, 0.32);
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.serach_field_clear {
    width: 584px;
    display: flex;
}


.s_btn img {
    height: 36px;
    height: 36px;
    display: flex;
}


@media (prefers-color-scheme: light) {
    html.html_home, body.home { 
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-y: auto; 
   background-color: hsl(49, 76%, 90%);
  }}

 input#q {
    width: 98%;
    height: 100%;
}
.search_field_clear input#q, .search_field_clear input#q2 {
    display: table-cell;
    width: 90%;
    line-height: 1.15;
    height: 60px;
    padding: 5px 0% 5px 0%;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #696969;
    background: transparent !important;
    border: none !important;
    border-right: none !important;
    vertical-align: top;
    outline: none;
    box-shadow: none !important;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.search_field_clear {
    display: flex;
    position: relative;
    width: 584px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.search_button {
    position: relative;
    width: 48px;
    height: 48px;
    right: 0%;
    top: -50%;
    transform: translateX(-0%) translateY(50%);
    float: right;
}

button[type="submit"] {
    width: 50px;
    border: 1px solid white;
    border-radius: 100px;
}

button[type="submit"] {
    position: relative;
    top: 50%;
    left: 80%;
    transform: translate(-20%,-50%);
}