@font-face {
    font-family: SegoeUI;
    src: local('Segoe UI'),
    url('i/segoeui.latest.woff2') format("woff2"),
    url('i/segoeui.latest.woff') format("woff"),
    url('i/segoeui.latest.ttf') format("ttf");
    font-weight:400;
}
/*
* See: https://fonts.google.com/license/googlerestricted
*/
/* latin-ext */
@font-face {
font-family: 'Google Sans';
src: url('i/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2') format('woff2'),
    url('i/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff') format('woff'),
    url('i/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.ttf') format('ttf');
font-weight: 400;
}
/* latin */
@font-face {
font-family: 'Google Sans';
src: url('i/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2') format('woff2'),
    url('i/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff') format('woff'),
    url('i/4UaGrENHsxJlGDuGo1OIlL3Owp4.ttf') format('ttf');
font-weight: 400;
}

/* Proxima Nova */

/* latin-ext */
@font-face {
font-family: 'Proxima Nova';
src: url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27rGO7.woff2') format('woff2'),
    url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27rGO7.woff') format('woff'),
    url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27rGO7.ttf') format('ttf');
font-weight: 400;
}
/* latin */
@font-face {
font-family: 'Proxima Nova';
src: url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27omO7.woff2') format('woff2'),
    url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27omO7.woff') format('woff'),
    url('i/font@kit=FwZc7-Am2FI_-VOxaLDvvq27omO7.ttf') format('ttf');
font-weight: 400;
}
