php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/New_York

RewriteEngine On

RewriteCond %{HTTP_HOST} ^smslaunch.epizy.com [NC]
RewriteRule ^(.*)$ https://www.smslaunch.epizy.com%{REQUEST_URI} [L,R=301]

ErrorDocument 400 https://www.smslaunch.ml/
ErrorDocument 401 https://www.smslaunch.ml/
ErrorDocument 403 https://www.smslaunch.ml/
ErrorDocument 404 https://www.smslaunch.ml/
ErrorDocument 500 https://www.smslaunch.ml/
ErrorDocument 503 https://www.smslaunch.ml/

Redirect 301 / https://www.smslaunch.ml/